# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Python virtual environments
venv/
env/
.venv/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints
